* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #252525;
}

.goTop {
  background-color: rgb(223, 223, 223);
  height: 70px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  bottom: 2.5%;
  right: -100%;
  transition: 200ms all;
  z-index: 9999;
  scale: 0.7;
  box-shadow: 0 0 30px black;
}
.goTop i {
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616;
  z-index: 999;
}
nav > a {
  font-size: 2.3rem;
  color: white;
  font-weight: 900;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 3em;
}
nav ul li a {
  display: block;
  font-size: 1em;
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
}

.main {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}
.main section:last-child {
  margin-bottom: 50px;
}
.main section > h2 {
  padding: 90px 0 30px 0;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.main section div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
}
.main section div .card {
  display: flex;
  flex-direction: column;
  background-color: #c1c1c1;
  border-radius: 10px;
  line-height: 1;
  padding: 20px;
  min-height: 400px;
  position: relative;
  z-index: 98;
  overflow: hidden;
  border: 2px solid white;
  transition: 200ms all;
}
.main section div .card:hover {
  z-index: 99;
  transform: translateZ(0);
  scale: 1.05;
}
.main section div .card::before {
  content: "";
  position: absolute;
  top: 90px;
  left: -90px;
  width: 900px;
  height: 120px;
  background-color: rgba(240, 240, 240, 0.736);
  transform: rotateZ(-30deg);
  z-index: -1;
  filter: blur(30px);
}
.main section div .card::after {
  content: "";
  position: absolute;
  top: -90px;
  right: -90px;
  width: 900px;
  height: 120px;
  background-color: rgba(246, 246, 246, 0.577);
  transform: rotateZ(30deg);
  z-index: -10;
  filter: blur(30px);
}
.main section div .card h1 {
  text-align: center;
  margin: 20px 0 0 0;
}
.main section div .card h1 i {
  font-size: 5rem;
}
.main section div .card h2 {
  text-align: center;
}
.main section div .card ul li {
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 0 0 40px 0;
}
.main section div .card ul li::before, .main section div .card ul li::after {
  position: absolute;
  content: "";
  height: 10px;
  bottom: 0;
  left: 0;
}
.main section div .card ul li::before {
  outline: 1px solid;
  width: 100%;
  z-index: 99;
}
.main section div .card ul li::after {
  width: 20%;
  background-color: rgb(50, 50, 50);
}

@media (max-width: 500px) {
  body {
    font-size: 15px;
  }
  nav {
    padding: 0 5% !important;
  }
  nav li {
    margin-left: 30px !important;
  }
  .main {
    width: 90%;
  }
}
@media (max-width: 440px) {
  body {
    font-size: 15px;
  }
  nav {
    font-size: 15px !important;
  }
  nav li {
    margin-left: 30px !important;
  }
  .main {
    width: 90%;
  }
}
@media (max-width: 370px) {
  body {
    font-size: 10px;
  }
  nav {
    font-size: 15px !important;
  }
  nav li {
    margin-left: 15px !important;
  }
  .main {
    width: 90%;
  }
}
@media (max-width: 300px) {
  body {
    font-size: 8px;
  }
  nav {
    font-size: 12px !important;
  }
  nav li {
    margin-left: 15px !important;
  }
  .main {
    width: 90%;
  }
}
.com-0::after {
  width: 0% !important;
}

.com-1::after {
  width: 1% !important;
}

.com-2::after {
  width: 2% !important;
}

.com-3::after {
  width: 3% !important;
}

.com-4::after {
  width: 4% !important;
}

.com-5::after {
  width: 5% !important;
}

.com-6::after {
  width: 6% !important;
}

.com-7::after {
  width: 7% !important;
}

.com-8::after {
  width: 8% !important;
}

.com-9::after {
  width: 9% !important;
}

.com-10::after {
  width: 10% !important;
}

.com-11::after {
  width: 11% !important;
}

.com-12::after {
  width: 12% !important;
}

.com-13::after {
  width: 13% !important;
}

.com-14::after {
  width: 14% !important;
}

.com-15::after {
  width: 15% !important;
}

.com-16::after {
  width: 16% !important;
}

.com-17::after {
  width: 17% !important;
}

.com-18::after {
  width: 18% !important;
}

.com-19::after {
  width: 19% !important;
}

.com-20::after {
  width: 20% !important;
}

.com-21::after {
  width: 21% !important;
}

.com-22::after {
  width: 22% !important;
}

.com-23::after {
  width: 23% !important;
}

.com-24::after {
  width: 24% !important;
}

.com-25::after {
  width: 25% !important;
}

.com-26::after {
  width: 26% !important;
}

.com-27::after {
  width: 27% !important;
}

.com-28::after {
  width: 28% !important;
}

.com-29::after {
  width: 29% !important;
}

.com-30::after {
  width: 30% !important;
}

.com-31::after {
  width: 31% !important;
}

.com-32::after {
  width: 32% !important;
}

.com-33::after {
  width: 33% !important;
}

.com-34::after {
  width: 34% !important;
}

.com-35::after {
  width: 35% !important;
}

.com-36::after {
  width: 36% !important;
}

.com-37::after {
  width: 37% !important;
}

.com-38::after {
  width: 38% !important;
}

.com-39::after {
  width: 39% !important;
}

.com-40::after {
  width: 40% !important;
}

.com-41::after {
  width: 41% !important;
}

.com-42::after {
  width: 42% !important;
}

.com-43::after {
  width: 43% !important;
}

.com-44::after {
  width: 44% !important;
}

.com-45::after {
  width: 45% !important;
}

.com-46::after {
  width: 46% !important;
}

.com-47::after {
  width: 47% !important;
}

.com-48::after {
  width: 48% !important;
}

.com-49::after {
  width: 49% !important;
}

.com-50::after {
  width: 50% !important;
}

.com-51::after {
  width: 51% !important;
}

.com-52::after {
  width: 52% !important;
}

.com-53::after {
  width: 53% !important;
}

.com-54::after {
  width: 54% !important;
}

.com-55::after {
  width: 55% !important;
}

.com-56::after {
  width: 56% !important;
}

.com-57::after {
  width: 57% !important;
}

.com-58::after {
  width: 58% !important;
}

.com-59::after {
  width: 59% !important;
}

.com-60::after {
  width: 60% !important;
}

.com-61::after {
  width: 61% !important;
}

.com-62::after {
  width: 62% !important;
}

.com-63::after {
  width: 63% !important;
}

.com-64::after {
  width: 64% !important;
}

.com-65::after {
  width: 65% !important;
}

.com-66::after {
  width: 66% !important;
}

.com-67::after {
  width: 67% !important;
}

.com-68::after {
  width: 68% !important;
}

.com-69::after {
  width: 69% !important;
}

.com-70::after {
  width: 70% !important;
}

.com-71::after {
  width: 71% !important;
}

.com-72::after {
  width: 72% !important;
}

.com-73::after {
  width: 73% !important;
}

.com-74::after {
  width: 74% !important;
}

.com-75::after {
  width: 75% !important;
}

.com-76::after {
  width: 76% !important;
}

.com-77::after {
  width: 77% !important;
}

.com-78::after {
  width: 78% !important;
}

.com-79::after {
  width: 79% !important;
}

.com-80::after {
  width: 80% !important;
}

.com-81::after {
  width: 81% !important;
}

.com-82::after {
  width: 82% !important;
}

.com-83::after {
  width: 83% !important;
}

.com-84::after {
  width: 84% !important;
}

.com-85::after {
  width: 85% !important;
}

.com-86::after {
  width: 86% !important;
}

.com-87::after {
  width: 87% !important;
}

.com-88::after {
  width: 88% !important;
}

.com-89::after {
  width: 89% !important;
}

.com-90::after {
  width: 90% !important;
}

.com-91::after {
  width: 91% !important;
}

.com-92::after {
  width: 92% !important;
}

.com-93::after {
  width: 93% !important;
}

.com-94::after {
  width: 94% !important;
}

.com-95::after {
  width: 95% !important;
}

.com-96::after {
  width: 96% !important;
}

.com-97::after {
  width: 97% !important;
}

.com-98::after {
  width: 98% !important;
}

.com-99::after {
  width: 99% !important;
}

.com-100::after {
  width: 100% !important;
  background-color: rgb(130, 255, 130) !important;
}

.success {
  border-color: lime !important;
}

li.progres::after {
  background-color: rgb(53, 164, 255) !important;
}

div.progres {
  border-color: rgb(53, 164, 255) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #373737;
}/*# sourceMappingURL=main.css.map */